/* Header */
.headerBox {
  background-color: var(--header-background);
  height: 64px;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}
.headerLeft {
  width: 390px;
  height: 100%;
  margin-left: 20px;
}
.headerRight {
  width: calc(100% - 390px);
  height: 100%;
  margin-right: 16px;
}
.headerMyAccount {
  margin-left: 6px;
}
.headerMyAccount .fontSize10-m {
  margin-top: 3px;
}
.notificationCount {
  font-weight: var(--font-weight-600);
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-notificationsRed);
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56.25px;
}
.headerHamburger {
  border: none;
  background-color: transparent;
  margin-right: 16px;
  display: none;
}
.headerSideMenu {
  width: 258px;
}
.headerSideMenu .sidebarButton{
  top: 45%;
}
.headerSideMenu .sideBar {
  border: none;
}
.headerSideMenu .offcanvas-body {
  padding: 0;
  background-color: var(--color-light-blue);
}
/* Tooltip */
.tooltip-inner {
  background-color: var(--color-headerTooltip);
  font-weight: 500;
  font-size: 12px;
}
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--color-headerTooltip);
}
/* SettingsPopover */
.headerSettingsPopover {
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 8px 0;
  width: 217px;
  background-color: var(--background-white);
}
.headerSettingsPopover .popover-body {
  padding: 0;
  color: var(--color-black);
  background-color: var(--background-white);
}
.headerSettingsPopover ul {
  padding: 0;
  margin: 0;
}
.headerSettingsPopover ul li {
  list-style: none;
  padding: 0 16px;
}
.headerSettingsPopover ul li button {
  border: none;
  background-color: transparent;
  letter-spacing: 0.02em;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--color-popoverborder);
  text-align: left;
}
.headerSettingsPopover ul li:hover {
  background-color: var(--color-secondary-light-defaut);
  transition: all 0.3s ease-in-out;
}
.headerSettingsPopover .popover-arrow::before {
  border: none;
}
.bs-popover-bottom > .popover-arrow::after {
  border-bottom-color: var(--background-white);
}

/* Default Theme Modal */
.defaultThemeModal .modal-content {
  border-radius: 8px;
  border: none;
  background-color: var(--color-light-blue);
  width: 441px;
}
.defaultThemeModal .modal-header {
  height: 40px;
  padding: 0 20px 0 24px;
  background-color: var(--modal-header);
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.defaultThemeModal .modal-header .btn-close {
  background: transparent url(../../images/common/modalClose.svg) center/1.5em
    auto no-repeat;
  opacity: 1;
}
.defaultThemeModal .modal-body {
  padding: 32px 0;
  display: flex;
  justify-content: center;
}
.defaultThemeModal .modal-body p {
  line-height: 1.5;
  width: 277px;
}
.defaultThemeModal .modal-footer {
  border: none;
  padding: 0;
  justify-content: center;
  margin-bottom: 40px;
}
.defaultThemeModal .modal-footer .btnPrimary,
.defaultThemeModal .modal-footer .btnPrimaryOutline {
  margin: 0;
}
.defaultThemeModal .modal-footer .btnPrimary {
  margin-left: 16px;
  width: 172px;
}
.defaultThemeModal .modal-footer .btnPrimary:hover,
.defaultThemeModal .modal-footer .btnPrimary:focus {
  background-color: var(--color-primary-default);
}
.defaultThemeModal .modal-footer .btnPrimaryOutline:hover,
.defaultThemeModal .modal-footer .btnPrimaryOutline:focus {
  background-color: transparent;
  color: var(--color-primary-default);
}
/* Site Configuration Modal */
.siteConfigurationModal .modal-body {
  padding: 24px 0;
}
.siteConfigurationModal .clientNameSelect {
  width: 361px;
}
.siteConfigurationModal .modal-footer .btnPrimary {
  margin-left: 0;
  width: 361px;
}
/* Error/Save Filters  Modals */
.saveFiltersModal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue);
  padding: 24px 0 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.saveFiltersModal .modal-body img {
  width: 64px;
  margin-bottom: 8px;
}
.saveFiltersModal .modal-body p {
  line-height: 1.21;
  width: 100%;
}

.errorFiltersModal .modal-body {
  padding: 24px 0 40px;
}
.errorFiltersModal .modal-body img {
  width: 64px;
  margin-bottom: 8px;
}
.errorFiltersModal .modal-body p {
  width: 300px;
}

@media (max-width: 992px) {
  .headerBox {
    justify-content: space-between;
  }
  .headerLeft {
    width: 312px;
    margin-left: 16px;
  }
  .headerRight {
    width: auto;
    margin-right: 24px;
  }
  .headerMyAccount {
    display: none;
  }
  .headerHamburger {
    display: block;
  }
}
@media (max-width: 767px) {
  .headerBox {
    height: 88px;
  }
  .headerLeft {
    width: 50%;
    margin: 0;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 12px 0 16px 16px;
  }
  .headerRight {
    width: 50%;
    flex-direction: column-reverse;
    justify-content: space-between !important;
    align-items: flex-end !important;
    margin: 0;
    padding: 14px 16px 12px 0;
  }
}

/* Main View */
.mainView {
  padding-top: 64px;
}

@media (max-width: 767px) {
  .mainView {
    padding-top: 88px;
  }
}
/* Side Bar */
.sideBar {
  width: 240px;
  background-color: var(--sidebar-color);
  padding: 16px 8px;
  position: relative;
  border-right: 1px solid var(--color-border-default);
}
.sidebarButton {
  width: 28px;
  height: 28px;
  border: none;
  background-color: var(--color-primary-default);
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 32%;
  right: -14px;
  z-index: 2;
}
.sideBar .accordion .accordion-item {
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
}
.sideBar .accordion .accordion-item .accordion-button {
  background-color: var(--sidebar-color);
  padding: 8px;
}
.sideBar .accordion .accordion-item .accordion-button:hover {
  background-color: var(--sidebar-accordion-bg);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.sideBar .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--sidebar-accordion-bg);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sideBar .accordion .accordion-item .accordion-body {
  padding: 0;
}
.sideBar .accordion .accordion-item .accordion-body ul {
  padding: 0;
  margin: 0;
  background-color: var(--sidebar-accordion-bg);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sideBar .accordion .accordion-item .accordion-body ul li {
  list-style: none;
}
.sideBar .accordion ul li a {
  display: flex;
  align-items: center;
  padding: 8px;
}
.sideBar .accordion ul li a:hover {
  background-color: var(--color-secondary-light-defaut);
  transition: all 0.3s ease-in-out;
}
.sideBar .accordion .subMenu li a .subMenuRight {
  font-size: 13px;
  line-height: 18px;
  color: var(--color-black);
  margin-left: 8px;
}

.sideBar .accordion-button::after {
  transform: rotate(0deg);
  background-image: url(../../images/sidebar/chevron.svg);
}
.sideBar .accordion-button:not(.collapsed)::after {
  transform: rotate(-90deg);
}

/* SidebarSmall */
.sidebarSmall {
  width: 56px;
  background-color: var(--sidebar-color);
  padding: 16px 8px;
  text-align: center;
  position: relative;
  border-right: 1px solid var(--color-border-default);
}
.sidebarSmall .sidebarSmallImg {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.sidebarSmall .sidebarSmallImg:hover {
  background-color: var(--sidebar-accordion-bg);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sidebarPopover {
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background-color: var(--background-white);
}
.bs-popover-end > .popover-arrow::after {
  border-right-color: var(--sidebar-color);
}
.sidebarPopover .popover-body {
  padding: 0;
}
.sidebarPopover ul {
  padding: 0;
  margin: 0;
}
.sidebarPopover ul li {
  list-style: none;
}
.sidebarPopover ul li a {
  display: flex;
  align-items: center;
  padding: 8px;
}
.sidebarPopover ul li a:hover {
  background-color: var(--color-secondary-light-defaut);
  transition: all 0.3s ease-in-out;
}
.sidebarPopover ul li a .subMenuRight {
  font-size: 13px;
  line-height: 18px;
  color: var(--color-black);
  margin-left: 8px;
}
.sidebarPopover .popover-arrow::before {
  border: none;
}
@media (max-width: 992px) {
  .sideBar {
    display: none;
  }
  .sidebarSmall {
    display: none;
  }
  .headerSideMenu .offcanvas-body .sideBar {
    display: block;
  }
}
@media (max-width: 426px) {
  .paginationBox{
    flex-direction: column;
    margin: 16px 0 24px !important;
  }
  .paginationBox .paginationLeft{
    margin-bottom: 8px;
  }
}

/* Main Window */
.mainWindow {
  width: 100%;
  height: 100%;
  background-color: var(--color-background-default);
  padding: 0 16px;
}
.sidebarOpened {
  width: calc(100% - 240px);
}
.sidebarClosed {
  width: calc(100% - 56px);
}
@media (max-width: 992px) {
  .mainWindow {
    flex-direction: column;
    width: 100%;
  }
}

/* Footer */
.footerBox {
  height: 40px;
  background-color: var(--footer-bg);
}
