/* Main View */
.mainView {
  width: 100%;
  height: 100%;
  background-color: var(--color-background-default);
  padding-top: 50px;
}
.sidebarOpened {
  width: calc(100% - 216px);
}
.sidebarClosed {
  width: calc(100% - 50px);
}
@media (max-width: 767px) {
  .mainView {
    padding-top: 88px;
  }
}
@media (max-width: 768px) {
  .sidebarOpened {
    width: 100%;
  }
}

/* Unmatched CSS */
.unmatchedContainer {
  padding: 0 12px 12px;
}
.breadcrumbHeading {
  height: 34px;
}
.unmatchedContainer .tableBorderBox .table {
  width: 1955px;
}
.unmatchedContainer .configLeftBottom {
  margin-top: 12px;
}
.unmatchedContainer .configSelectBoxTop {
  margin-top: 0;
}

/* Accordion */
.unmatchedContainer .accordion-item {
  border-radius: 8px;
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-border-default);
}
.unmatchedContainer .accordion-header {
  padding: 12px 12px;
}
.unmatchedContainer .accordion-header .allFiltersBtn {
  width: 88px;
}
.unmatchedContainer .accordion-body {
  padding: 0 12px;
}
.unmatchedContainer .accordion-body .configSelectBoxTop .col {
  padding: 0 6px;
  width: 20%;
  flex: inherit;
  margin-top: 8px;
}
@media (max-width: 768px) {
    .unmatchedContainer .accordion-body .configSelectBoxTop .col {
      width: 33%;
    }
  }
@media (max-width: 425px) {
  .breadcrumbHeading {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    margin: 12px 0;
  }
  .unmatchedContainer .has-search .form-control{
      width: 98%;
  }
  .unmatchedContainer .accordion-body .configSelectBoxTop .col {
    width: 100%;
  }
}


/* Calendar */
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0 !important;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  display: none !important;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none !important;
}
.react-datepicker {
  font-family: "Inter" !important;
  font-size: var(--font-size14) !important;
  background-color: var(--color-light-blue) !important;
  border: none !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.react-datepicker__navigation-icon::before {
  border-color: var(--color-primary-default) !important;
  border-width: 2px 2px 0 0 !important;
}
.react-datepicker__header {
  background-color: var(--header-background) !important;
  border-bottom: none !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.react-datepicker__current-month {
  color: var(--color-primary-default) !important;
  font-weight: var(--font-weight-600) !important;
  font-size: var(--font-size14) !important;
}
.react-datepicker__day-name {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size12) !important;
  color: var(--color-black) !important;
}
.react-datepicker__day {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size14);
  color: var(--color-black) !important;
}
.react-datepicker__day:hover {
  background-color: var(--color-primary-default) !important;
  border-radius: 4px !important;
  color: var(--color-white) !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary-default) !important;
  border-radius: 4px !important;
  color: var(--color-white) !important;
}
.unmatchedDate {
  width: 100%;
  background-color: var(--border-box-bg);
  border: 1px solid var(--color-border-default);
  height: 32px;
  border-radius: 4px;
  padding-left: 12px;
  font-family: "Inter";
  font-size: var(--font-size14);
  letter-spacing: 0.02em;
  color: var(--color-black);
}
